# Ansible control machine
admin_ip: 38.98.172.37 # e.g. your local public IP
git_ssh_priv_key: ~/.ssh/id_rsa

# SimplyE instance
admin_email: "dans@datalogics.com"
simplye_role: "circulation" # can be one of: "circulation" "content" "metadata"
simplye_instance_name: "DansCM" # e.g. "FooPublicLibrary"
simplye_environment: "production"

auth_server: ""
auth_port: "8080"
auth_username: ""
auth_password: ""
auth_location: ""
auth_separator: ""

simplye_repo: "git@github.com:NYPL-Simplified/circulation.git"

# Docker information
docker_scripts: "nypl/circ-scripts" 
docker_scripts_tag : "latest"
docker_deploy: "nypl/circ-deploy"
docker_deploy_tag: "latest"

initialize_db: true # this should be true only when using this database and Elasticsearch instance for the first time

# AWS shared
aws_region: "us-west-2"
aws_zones: ["us-west-2a","us-west-2b","us-west-2c"]

# AWS EC2
ec2_instance_type: "t2.medium"
ec2_image: "ami-62d35c02"
ec2_volume_size: 32
ec2_subnet_ids: ["subnet-df64b2a8","subnet-a05ea9f9","subnet-17e75472"] # @ToDo: automate this: http://docs.ansible.com/ansible/ec2_vpc_subnet_module.html

# AWS RDS & PostgreSQL
rds_instance_type: "db.t2.medium"
rds_db_engine: "postgres"
rds_size: 100
rds_subnet: "default" # @ToDo: automate this: http://docs.ansible.com/ansible/ec2_vpc_subnet_module.html

psql_db_name: "circulation"
psql_username: "simplified"
psql_password: "password"

# Vendor vars
#############

# Overdrive
od_client_key: ""
od_client_secret: ""
od_website_id: ""
od_library_id: ""
od_ils_name: ""
od_cname_url: ""
od_default_loan_period: ""

# 3M
threem_library_id: ""
threem_account_id: ""
threem_account_key : ""

# Axis360
axis_username: ""
axis_password: ""
axis_library_id: ""
axis_qa_prod: ""
