# Ansible control machine
admin_ip: (REQUIRED) # e.g. your local public IP
git_ssh_priv_key: ~/.ssh/id_rsa

# SimplyE instance
admin_email: (REQUIRED)
simplye_role: "circulation" # can be one of: "circulation" "content" "metadata"
simplye_instance_name: (REQUIRED) # e.g. "FooPublicLibrary"
simplye_environment: "production"

auth_server: (REQUIRED)
auth_port: (REQUIRED)
auth_username: (REQUIRED)
auth_password: (REQUIRED)
auth_location: (REQUIRED)
auth_separator: (REQUIRED)

simplye_repo: "git@github.com:NYPL-Simplified/circulation.git"

# Docker information
docker_repo : ""
docker_tag : ""

# AWS shared
aws_region: "us-west-2"

# AWS EC2
ec2_instance_type: "t2.micro"
ec2_image: "ami-b04e92d0"
ec2_volume_size: 32
ec2_subnet_ids: (REQUIRED) # @ToDo: automate this: http://docs.ansible.com/ansible/ec2_vpc_subnet_module.html

# AWS RDS & PostgreSQL
rds_instance_type: "db.t2.micro"
rds_db_engine: "postgres"
rds_size: 100
rds_subnet: (REQUIRED) # @ToDo: automate this: http://docs.ansible.com/ansible/ec2_vpc_subnet_module.html

psql_db_name: "scripts"
psql_username: (REQUIRED)
psql_password: (REQUIRED)

# Docker
docker_image: (REQUIRED)
docker_tag: latest

# Vendor vars
#############

# Overdrive
od_client_key: (REQUIRED)
od_client_secret: (REQUIRED)
od_website_id: (REQUIRED)
od_library_id: (REQUIRED)
od_ils_name: (REQUIRED)
od_cname_url: (REQUIRED)
od_default_loan_period: (REQUIRED)

# 3M
threem_library_id: (REQUIRED)
threem_account_id: (REQUIRED)
threem_account_key : (REQUIRED)

# Axis360
axis_username: (REQUIRED)
axis_password: (REQUIRED)
axis_library_id: (REQUIRED)
axis_qa_prod: (REQUIRED)
