{
  "default_notification_email_address" : "{{ admin_email }}",
  "policies" : {
    "holds" : "allow",
    "languages" : {
      "large_collections" : ["eng"]
    },
    "authentication": {
      "providers": [
        { "module": "api.sip",
          "server": "{{ auth_server }}",
          "port": {{ auth_port }},
          "login_user_id": "{{ auth_username }}",
          "login_password": "{{ auth_password }}",
          "location_code": "{{ auth_location }}",
          "field_separator": "{{ auth_separator }}"
        }
      ]
    }
  },
  "integrations" : {
    "Postgres" : {
      "production_url" : "postgresql://{{ psql_username }}:{{ psql_password }}@{{ hostvars['localhost']['rds']['instance']['endpoint'] }}:5432/{{ psql_db_name }}"
    },
    "Elasticsearch" : {
      "url" : "http://localhost:9200",
      "works_index" : "circulation-works"
    },
    "Metadata Wrangler" : {
      "url" : "http://metadata.librarysimplified.org/"
    },
    "Content Server" : {
      "url" : "http://oacontent.librarysimplified.org/"
    },
    "Circulation Manager" : {
      "url" : "{{ circulation_hostname }}"
    },
    "Overdrive" : {
      "client_key" : "{{ od_client_key }}",
      "client_secret" : "{{ od_client_secret }}",
      "website_id" : "{{ od_website_id }}",
      "library_id" : "{{ od_library_id }}",
      "ils_name": "{{ od_ils_name }}",
      "cname_url": "{{ od_cname_url }}",
      "default_loan_period": "{{ od_default_loan_period }}"
    },
    "3M" : {
      "library_id" : "{{ threem_library_id }}",
      "account_id" : "{{ threem_account_id }}",
      "account_key" : "{{ threem_account_key }}"
    },
    "Axis 360" : {
      "username" : "{{ axis_username }}",
      "password" : "{{ axis_password }}",
      "library_id" : "{{ axis_library_id }}",
      "server" : "{{ axis_qa_prod }}"
    }
  }
}
